%h3= title "Sign In"
%p
  You can sign in or register with the following providers:
%ul
  %li= link_to "Facebook", "/auth/facebook", :class => "btn btn-primary"
  %li= link_to "Facebook", "/auth/facebook", :class => "btn btn-primary"
  %li= link_to "Facebook", "/auth/facebook", :class => "btn btn-primary"
