%ul.providers
  %li= link_to "Facebook", "/auth/facebook", :class => "btn btn-primary"
  %li= link_to "Facebook", "/auth/facebook", :class => "btn btn-primary"
  %li= link_to "Facebook", "/auth/facebook", :class => "btn btn-primary"
