%ul.providers
  %li
    %a{ :href => "/auth/facebook", :class => "btn btn-facebook" }
      %i.icon-facebook-sign.pull-left
      %span Sign in with Facebook
  %li
    %a{ :href => "/auth/google_oauth2", :class => "btn btn-google" }
      %i.icon-google-plus-sign.pull-left
      %span Sign in with Google
