#my-bookmarks{ :"data-url" => @url }
  .row.strip
    .span12
      %h2#my-bookmarks-title My Bookmarks
  .row
    .span12#bookmarks-pane
      .row
        #menu.span3
        #content.span9{ :"data-url" => @url }

:javascript
  window.bookmarkletUrl = "#{@url}";
