#my-bookmarks{ :"data-url" => @url }
  .row.strip
    .span12
      %h2#my-bookmarks-title My Bookmarks
  .row
    .span12#bookmarks-pane
      .row
        .span3#menu
        .span9#content{ :"data-url" => @url }
