.row-fluid
  .span12
    #layout-banner.hero-unit
      .row-fluid
        .span8
          %h2 Explore, Share, and Remember Content Across the Web!
        .span4
          - # TODO: Render partials here
          %h3 Register
          %p Blah Blah Blah
          %h3 Sign In
          %p Blah Blah Blah
