.row-fluid
  .span12
    #layout-banner.hero-unit
      .row-fluid
        .span8
          %h1 Explore and Share Content Across the Web
          %p &nbsp;
          %h3 Keep track of things You Watch and Read Online with Our Bookmarklet
          %h3 Find and Discover new Things that Interest You Online
          %h3 Dramas, Comics, Articles, Anime, and More...
        .span4
          - # TODO: Render partials here
          %h3 Register
          %p Blah Blah Blah
          %h3 Sign In
          %p Blah Blah Blah
