.row-fluid
  .span12
    #layout-banner.hero-unit
      .row-fluid
        .span8
          %h1 Explore and Share Content Across the Web
          %br
          %ul#layout-points
            %li.icon-bookmark
              Keep track of things You Watch and Read Online with Our Bookmarklet
            %li.icon-user
              Find and Discover new Things that Interest You Online
            %li.icon-book
              Dramas, Comics, Articles, Anime, and More...
        .span4
          %h3 Register/Sign In
          %p Sign in or Register with the following Providers:
          = render :partial => "sessions/providers", :locals => { :title => "Register or Sign In!" }
