.row
  .span12
    #layout-banner.hero-unit
      .row-fluid
        .span12
          %h1.header-text.center Save Your Online Content Tracks
          .row
            .span11.offset1
              %ul.bullet-points.icons
                %li
                  %i.icon-ok-sign
                  Save
                  %strong Dynamic Content
                  with a 
                  %strong simple Bookmarklet
                %li
                  %i.icon-film
                  %strong Blogs, Article Series, Video Series, Comics, Manga, and More!
                %li
                  %i.icon-remove-sign
                  Say
                  %strong GOODBYE
                  to Bookmarks for things that 
                  %strong Bookmarks weren't made for!

          = render :partial => "sessions/providers", :locals => { :title => "Register or Sign In!" }
          %p.center
            %strong Sign in
            or
            %strong Register
            with
            %strong Facebook
            or 
            %strong Google :)
