.row-fluid
  .span12
    #layout-banner.hero-unit
      .row-fluid
        .span8
          %h2 About
          %br
          %p
            Mediac was built as an easy way of keeping track of things people watched/read/shared online.
            I built it with the frustration of having to constantly remember my last spot of a comic or video
            series I was watching. Mediac's bookmarklet tools (and possibly browser extensions in the future)
            help provide an unobtrusive way to keep track of it - anywhere, and I hope you find it useful, too! :)
          %p
            Have any questions or feature requests? Find me on Twitter:
            = link_to "@j_ckao", "http://twitter.com/#!/j_ckao"
          %p
            Wallpapers kindly provided by:
            = link_to "Wallbase", " http://wallbase.net"
