.row-fluid
  .span12
    #layout-banner.hero-unit
      .row-fluid
        .span8
          %h2 FAQ
          %br
          %p
            Have any questions or feature requests? Contact me on Twitter:
            = link_to "@j_ckao", "http://twitter.com/#!/j_ckao"
          %p
            Wallpapers kindly provided by:
            = link_to "Wallbase", " http://wallbase.net"
