- if current_user.nil?
  = render :partial => "index_banner"

.row.strip
  .span12
    %h2 Recent Bookmarks
.row
  #recent-bookmarks.span12{ :"data-bookmarks" => Serialize::BookmarksSerializer.as_json(@bookmarks).to_json}
    - # Backbone View Populates this
