@import "mixins";
@import "colors";

.bookmark {
  background-color: $trans-white;
  border-bottom: $blue solid 5px;
  margin: 5px 0;
  padding: 5px 0 0 0;
  float: left;

  h4 {
    a { color: #000; }
  }
  .meta {
    color: $grey;
    font-size: 11px;
    margin-left: 50px;

    a {
      color: $blue;
    }
    .date {
      margin-left: 10px;
    }
  }
  .tags {
    margin-bottom: 5px;

    .label {
      margin-right: 5px;
      display: inline-block;
    }
  }
  .description {
    margin: 5px 0 5px 50px;
  }
  .title-span {
    .title {
      color: $dark-grey;
      font-size: 16px;
    }
  }
  .row.bottom {
    padding: 0 0 5px 0;
  }
  .link {
    margin-left: 15px;
  }
  ul.buttons {
    font-size: 19px;
    list-style-type: none;
    margin-bottom: 0px;

    a { text-decoration: none; }
    a.saved {
      color: $green;
    }
    li { display: inline; }
  }
  .title-span {
    i.icon-link { margin-right: 15px; }
    img.favicon { margin-right: 15px; }
  }
  .title-row {
    margin-top: 5px;
  }
}

.bookmark.hover {
  cursor: pointer;
  a {
    text-decoration: none;
  }
  .hover-message {
    display: none;
  }
}

.bookmark.hover.hovered {
  background: $blue;
  color: $blue;

  .tags {
    height: 18px;
    .label {
      display: none;
    }
  }

  .hover-message {
    display: block;
    position: absolute;

    h3 {
      color: $white;
      text-align: center;
      padding: 35px 0 0 300px;
    }
  }

  .title {
    color: $blue;
  }
  .meta {
    color: $blue;
  }
}

.bookmark-box {
  margin: 10px 0;
}
