@import "mixins";
@import "colors";

.bookmark {
  float: left;
  margin: 20px 10px;
  width: 200px;
  padding: 8px;
  background-color: $trans-white;
  border-bottom: $blue solid 5px;
  .thumbnail {
    min-height: 150px;
  }
}
