@import "colors";

/* Index Page */
#main {
  padding-top: 60px;

  .hero-unit {
    background-color: $trans-white;
    .header-text {
      font-size: 52px;
    }
    .bullet-points {
      font-size: 18px;
      list-style: none;
      li {
        margin: 15px 0;
        i {
          vertical-align: baseline;
        }
      }
    }
  }
}
