@import "colors";

/* Index Page */
#main {
  padding-top: 60px;

  .hero-unit {
    background-color: $trans-white;
    .header-text {
      font-size: 52px;
    }
    .bullet-points {
      font-size: 18px;
      list-style: none;
      li {
        margin: 15px 0;
        i {
          vertical-align: baseline;
        }
      }
    }
  }
}

#announcements {
  background-color: $blue;
  color: $white;
  padding: 30px 0;
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0;
  p {
    padding-left: 10px;
  }
  a {
    color: $white;
  }
  i {
    vertical-align: baseline;
  }
}
