@import "colors";

/* Index Page */
#main {
  padding-top: 60px;

  .hero-unit {
    background-color: $trans-white;

    #layout-points {
      li {
        font-size: 19px;
        font-weight: bold;
        margin: 10px 0;
      }
    }
  }
}
