body {
  background: #000;
  padding-top: 60px;
}

#wallpaper-1 {
  background: #000 url("/assets/layouts/domo-wallpaper2.jpg") no-repeat top;
}

#main-nav {
  border-bottom: #08C solid 5px;
}
#main {
}
#layout-banner {
}
