@import "mixins";
@import "colors";

body {
  background: #000;
}

#wallpaper-1 {
  background: #000 url("/assets/layouts/domo-wallpaper2.jpg") no-repeat top;
}

#main-nav {
  border-bottom: #08C solid 5px;
}

ul#lower-nav {
  height: 24px;
  padding: 12px 0px 8px 5px;
  margin: 0;
  position: fixed;

  background-color: $trans-grey;

  text-align: center;
  bottom: 0px;
  right: 0px;

  z-index: 1000;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 15px;
  }
}
