@import "mixins";
@import "colors";

body {
  background: #000;
}

#wallpaper-1 {
  background: #000 url("/assets/layouts/domo-wallpaper2.jpg") no-repeat center center fixed;
}

#main-nav {
  border-bottom: $blue solid 5px;
}

ul#lower-nav {
  height: 24px;
  padding: 12px 0px 8px 5px;
  margin: 0;
  position: fixed;

  background-color: $trans-grey;

  text-align: center;
  bottom: 0px;
  right: 0px;

  z-index: 1000;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 15px;
  }
}
.strip {
  .span12 {
    background-color: $blue;
    color: #fff;

    h2 {
      color: #fff;
      padding: 5px 0 5px 15px;
    }
  }
}
.red-strip {
  padding: 5px;
  background-color: $red;
  color: #fff;
}
