#main-nav.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{ :"data-toggle" => "collapse", :"data-target" => ".nav-collapse" }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Readlett", root_path, :class => "brand"
      .nav-collapse
        %ul.nav
          %li
            %a List 1
          %li
            %a List 2
          %li
            %a List 3
          %li= link_to "Sign In with Facebook", "/auth/facebook"
